@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");
body {
  font-family: "Roboto", sans-serif;
  margin: auto;
  text-align: left;
  font-size: 3.9vw;
}
@media screen and (min-width: 720px) {
  body {
    font-size: 20px;
  }
}
body main h2 {
  font-size: 6vw;
  font-weight: bold;
  padding-top: 4vw;
}
@media screen and (min-width: 720px) {
  body main h2 {
    font-size: 26px;
    padding-top: 0;
  }
}
body main h3 {
  font-weight: bold;
  font-size: 5vw;
}
body main p {
  margin: 0 15%;
}

@keyframes loadingspinner {
  from {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  to {
    opacity: 0;
    z-index: -2;
  }
}
@keyframes ringspin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loadingspinner {
  z-index: 99;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: white;
  animation: loadingspinner 1500ms linear both;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loadingspinner:after {
  content: "";
  width: 30vw;
  height: 30vw;
  border-radius: 50%;
  border: 10vw solid #9356DC;
  border-color: #9356DC transparent #9356DC transparent;
  animation: ringspin 1500ms linear both;
}
@media screen and (min-width: 720px) {
  .loadingspinner:after {
    width: 300px;
    height: 300px;
    border: 100px solid #9356DC;
    border-color: #9356DC transparent #9356DC transparent;
  }
}

@keyframes heartchecked {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.heart {
  cursor: pointer;
}
.heart i {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 7vw;
}
@media screen and (min-width: 720px) {
  .heart i {
    font-size: 26px;
  }
}
.heart i:last-child {
  opacity: 0;
  color: #9356DC;
}
.heart:hover i:first-child {
  animation: heartchecked 400ms linear both reverse;
}
.heart:hover i:last-child {
  animation: heartchecked 400ms linear both;
}

button {
  position: relative;
  background-image: linear-gradient(to top, #9356DC, 50%, #FF79DA);
  padding: 1vw 5vw;
  height: 12vw;
  cursor: pointer;
  color: #F6F6F6;
  font-weight: bold;
  font-size: 4vw;
  border: none;
  box-shadow: 0vw 1vw 1vw grey;
  border-radius: 25vw;
  transition: box-shadow 500ms;
  z-index: 1;
}
@media screen and (min-width: 720px) {
  button {
    font-size: 20px;
    height: 50px;
    padding: 5px 15px;
    border-radius: 30px;
    box-shadow: 0 2px 2px grey;
  }
}
button:hover {
  box-shadow: 0vw 2vw 2vw grey;
}
@media screen and (min-width: 720px) {
  button:hover {
    box-shadow: 0 5px 3px grey;
  }
}
button:hover::after {
  opacity: 0.1;
}
button::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  opacity: 0;
  z-index: -1;
  transition: opacity 500ms;
  border-radius: 25vw;
}

@keyframes loadingfood {
  0% {
    transform: translateX(125vw);
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  100% {
    transform: translateX(0vw);
    opacity: 1;
  }
}
.food-panel {
  animation: loadingfood 600ms both;
}
.food-panel:nth-child(1n) {
  animation-delay: 100ms;
}
.food-panel:nth-child(2n) {
  animation-delay: 200ms;
}
.food-panel:nth-child(3n) {
  animation-delay: 300ms;
}
.food-panel:nth-child(4n) {
  animation-delay: 400ms;
}
.food-panel:nth-child(5n) {
  animation-delay: 500ms;
}
.food-panel:nth-child(6n) {
  animation-delay: 600ms;
}
.food-panel:nth-child(7n) {
  animation-delay: 700ms;
}
.food-panel:nth-child(8n) {
  animation-delay: 800ms;
}
.food-panel:nth-child(9n) {
  animation-delay: 900ms;
}
.food-panel__checkbox {
  display: none;
}
.food-panel__checkbox:checked + label .food-panel__label__box__content__left {
  width: 57vw;
}
@media screen and (min-width: 720px) {
  .food-panel__checkbox:checked + label .food-panel__label__box__content__left {
    width: 50%;
  }
}
.food-panel__checkbox:checked + label .food-panel__label__box__content__right__checked i {
  transform: rotate(0deg);
}
.food-panel__label__box {
  display: block;
  width: 100%;
  border-radius: 4vw;
  box-shadow: 1vw 1vw 1.5vw #EAEAEA;
  overflow: hidden;
  margin-bottom: 5vw;
}
@media screen and (min-width: 720px) {
  .food-panel__label__box {
    border-radius: 10px;
    box-shadow: 2px 2px 3px #EAEAEA;
    margin-bottom: 15px;
    justify-content: flex-start;
  }
}
.food-panel__label__box__content {
  width: 125vw;
  cursor: pointer;
  display: flex;
  flex-wrap: nowrap;
  background-color: white;
  overflow: hidden;
}
@media screen and (min-width: 720px) {
  .food-panel__label__box__content {
    width: 120%;
  }
}
.food-panel__label__box__content__left {
  width: 72vw;
  padding: 3vw 1vw 3vw 5vw;
  display: flex;
  flex-direction: column;
  transition: width 255ms ease-in-out;
}
@media screen and (min-width: 720px) {
  .food-panel__label__box__content__left {
    padding: 5px 0;
    width: 67%;
  }
}
.food-panel__label__box__content__left__title {
  font-size: 4.6vw;
  font-weight: bold;
  padding-right: 1vw;
  padding-bottom: 1.5vw;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media screen and (min-width: 720px) {
  .food-panel__label__box__content__left__title {
    font-size: 20px;
    padding: 0;
    padding-left: 15px;
  }
}
.food-panel__label__box__content__left__desc {
  font-size: 3.6vw;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media screen and (min-width: 720px) {
  .food-panel__label__box__content__left__desc {
    font-size: 16px;
    padding-left: 15px;
  }
}
.food-panel__label__box__content__right {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
@media screen and (min-width: 720px) {
  .food-panel__label__box__content__right {
    flex: 1;
    width: 40%;
    max-width: 40%;
  }
}
.food-panel__label__box__content__right__price {
  width: 7vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-size: 4.5vw;
  font-weight: bold;
  padding: 3vw 5vw 3vw 1vw;
}
@media screen and (min-width: 720px) {
  .food-panel__label__box__content__right__price {
    width: 50%;
    font-size: 18px;
    align-items: center;
    padding: 0;
  }
}
.food-panel__label__box__content__right__checked {
  width: 14vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  text-align: center;
  position: relative;
}
@media screen and (min-width: 720px) {
  .food-panel__label__box__content__right__checked {
    width: 50%;
  }
}
.food-panel__label__box__content__right__checked i {
  font-size: 8vw;
  color: white;
  transform: rotate(180deg);
  transition: transform 300ms ease-in-out;
}
@media screen and (min-width: 720px) {
  .food-panel__label__box__content__right__checked i {
    position: relative;
    left: -15px;
    font-size: 30px;
  }
}

.step {
  position: relative;
  margin: 4vw 5%;
  padding: 7vw 0;
  background-color: #F6F6F6;
  border-radius: 6vw;
  box-shadow: 1vw 1vw 1.5vw #EAEAEA;
  text-align: left;
  font-weight: bold;
}
@media screen and (min-width: 720px) {
  .step {
    width: 60%;
    margin: 10px;
    padding: 15px 20px;
    border-radius: 15px;
    text-align: center;
  }
}
.step::before {
  counter-increment: step-nbr;
  content: counter(step-nbr);
  position: absolute;
  left: -3%;
  top: 33%;
  background-color: #9356DC;
  color: white;
  line-height: 7vw;
  width: 7vw;
  text-align: center;
  border-radius: 50%;
}
@media screen and (min-width: 720px) {
  .step::before {
    top: 25%;
    line-height: 30px;
    width: 30px;
  }
}
.step i {
  padding-left: 8vw;
}
@media screen and (min-width: 720px) {
  .step i {
    padding-left: 20px;
  }
}
.step span {
  padding-left: 4vw;
}
@media screen and (min-width: 720px) {
  .step span {
    padding-left: 5px;
  }
}
.step:last-child {
  background-color: #f2eafb;
}
.step:last-child i {
  color: #9356DC;
}

.thumbnail {
  position: relative;
  width: 90%;
  margin: auto;
  overflow: hidden;
  border-radius: 6vw;
  box-shadow: 0vw 1vw 2vw #c9c9c9;
  margin-bottom: 4vw;
}
@media screen and (min-width: 720px) {
  .thumbnail {
    border-radius: 25px;
    margin-bottom: 15px;
    width: 300px;
  }
}
.thumbnail__img img {
  width: 100%;
  height: 40vw;
  object-fit: cover;
}
@media screen and (min-width: 720px) {
  .thumbnail__img img {
    width: 300px;
    height: 200px;
  }
}
.thumbnail__heading {
  height: 12vw;
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 3vw 4vw 3vw 5vw;
  position: relative;
}
@media screen and (min-width: 720px) {
  .thumbnail__heading {
    padding: 5px 20px 10px 15px;
    height: 50px;
  }
}
.thumbnail__heading__title {
  font-weight: bold;
  font-size: 5vw;
  margin: 0;
  padding-bottom: 2vw;
}
@media screen and (min-width: 720px) {
  .thumbnail__heading__title {
    font-size: 22px;
    padding-bottom: 2px;
  }
}
.thumbnail__heading .heart {
  position: absolute;
  right: 15%;
  top: 30%;
  z-index: 2;
}
@media screen and (min-width: 720px) {
  .thumbnail__heading .heart {
    right: 40px;
    top: 10px;
  }
}
.thumbnail--new::before {
  content: "Nouveau";
  position: absolute;
  right: 5%;
  top: 5%;
  color: #1b6150;
  background-color: #99E2D0;
  padding: 1vw 3vw;
  border-radius: 1vw;
}
@media screen and (min-width: 720px) {
  .thumbnail--new::before {
    right: 15px;
    top: 15px;
    padding: 5px 10px;
    border-radius: 8px;
  }
}

.header {
  width: 100%;
  padding: 3vw 0;
  box-shadow: 2px 2px 4px grey;
  position: fixed;
  background-color: white;
  height: 10vw;
  z-index: 3;
}
.header__return {
  display: none;
}
.header img {
  display: block;
  margin: auto;
  width: 50%;
}
@media screen and (min-width: 720px) {
  .header img {
    width: 300px;
    margin-left: 100px;
  }
}
.header--back__return {
  font-size: 5vw;
  color: black;
  position: fixed;
  top: 5vw;
  left: 7vw;
}
@media screen and (min-width: 720px) {
  .header--back__return {
    font-size: 30px;
    position: absolute;
    top: 20px;
    left: 20px;
  }
}
.header__blank {
  height: 16vw;
}
@media screen and (min-width: 720px) {
  .header__blank {
    display: none;
  }
}
@media screen and (min-width: 720px) {
  .header {
    position: relative;
    height: 55px;
    padding: 10px 0;
  }
}

footer {
  background-color: #292929;
  color: white;
  padding: 5vw 6vw;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 720px) {
  footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 50px 100px;
  }
}
footer h1, footer h2 {
  margin: 0;
  padding: 0 0 4vw 0;
  font-family: Shrikhand, sans-serif;
  font-size: 5vw;
  font-weight: 100;
}
@media screen and (min-width: 720px) {
  footer h1, footer h2 {
    padding: 0;
    font-size: 35px;
  }
}
footer a {
  text-decoration: none;
  color: white;
  padding-bottom: 2vw;
}
@media screen and (min-width: 720px) {
  footer a {
    padding: 0;
  }
}
footer a i {
  padding-right: 2vw;
}
@media screen and (min-width: 720px) {
  footer a i {
    padding: 0 15px 0 0;
  }
}

.location {
  padding: 2vw 0;
  font-size: 4vw;
  background-color: #EAEAEA;
  text-align: center;
}
.location__city {
  font-weight: bold;
}
.location__city i {
  font-size: 4vw;
  margin-right: 2vw;
}
@media screen and (min-width: 720px) {
  .location__city i {
    font-size: 1em;
    margin-right: 10px;
  }
}
@media screen and (min-width: 720px) {
  .location {
    padding: 10px 0;
    font-size: 25px;
    position: absolute;
    top: 10px;
    right: 75px;
    text-align: right;
    z-index: 3;
    background-color: white;
  }
}

.main .explore .book {
  background-color: #F6F6F6;
  padding: 8vw 0 14vw 0;
  text-align: center;
}
@media screen and (min-width: 720px) {
  .main .explore .book {
    padding: 50px 0;
    width: 50%;
  }
}
.main .explore .book h2 {
  margin: 0 20%;
  padding-bottom: 3vw;
}
@media screen and (min-width: 720px) {
  .main .explore .book h2 {
    padding-bottom: 30px;
    margin: 0 100px;
  }
}
.main .explore .book p {
  padding-bottom: 4vw;
}
@media screen and (min-width: 720px) {
  .main .explore .book p {
    padding-bottom: 25px;
  }
}
.main .explore .tutorial {
  background-color: white;
  text-align: center;
  padding: 8vw 0 14vw 0;
  counter-reset: step-nbr;
}
@media screen and (min-width: 720px) {
  .main .explore .tutorial {
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
  }
}
.main .explore .tutorial h2 {
  text-align: left;
  margin-left: 7vw;
}
@media screen and (min-width: 720px) {
  .main .explore .tutorial h2 {
    margin-left: 10px;
  }
}
@media screen and (min-width: 720px) {
  .main .explore {
    display: flex;
  }
}
.main #restaurants-list {
  padding: 8vw 0;
  background-color: #F6F6F6;
}
@media screen and (min-width: 720px) {
  .main #restaurants-list {
    padding: 50px 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
}
.main #restaurants-list h2 {
  text-align: left;
  margin-left: 7vw;
}
@media screen and (min-width: 720px) {
  .main #restaurants-list h2 {
    width: 100%;
    margin-left: 0;
    text-align: center;
  }
}
.main #restaurants-list a {
  text-decoration: none;
  color: black;
}
@media screen and (min-width: 720px) {
  .main #restaurants-list a {
    margin: 20px 10px;
  }
}
@media screen and (min-width: 720px) {
  .main {
    max-width: 1280px;
    margin: auto;
  }
}

.main-restaurant .main-img {
  position: relative;
  top: 15vw;
}
@media screen and (min-width: 720px) {
  .main-restaurant .main-img {
    top: 0;
  }
}
.main-restaurant .main-img .heading-img {
  width: 100%;
  height: 70vw;
}
@media screen and (min-width: 720px) {
  .main-restaurant .main-img .heading-img {
    height: 500px;
    overflow: hidden;
  }
}
.main-restaurant .main-img .heading-img img {
  width: 100%;
}
.main-restaurant .rest-menu {
  position: relative;
  padding: 5vw 5vw;
  background-color: #F6F6F6;
  border-radius: 12vw 12vw 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 720px) {
  .main-restaurant .rest-menu {
    padding: 20px 20px;
    border-radius: 60px 60px 0 0;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}
.main-restaurant .rest-menu__title {
  font-family: Shrikhand, sans-serif;
  font-weight: 400;
  margin: 0;
  padding-top: 5vw;
  font-size: 7.5vw;
  align-self: flex-start;
}
@media screen and (min-width: 720px) {
  .main-restaurant .rest-menu__title {
    padding-top: 20px;
    font-size: 52px;
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
  }
}
.main-restaurant .rest-menu .heart {
  position: absolute;
  top: 12vw;
  right: 10vw;
}
@media screen and (min-width: 720px) {
  .main-restaurant .rest-menu .heart {
    top: 20px;
    right: 50px;
  }
}
.main-restaurant .rest-menu .food-type {
  overflow: hidden;
  width: 100%;
}
@media screen and (min-width: 720px) {
  .main-restaurant .rest-menu .food-type {
    width: 30%;
    margin: 0 15px;
  }
}
.main-restaurant .rest-menu .food-type__title {
  font-weight: 200;
  text-transform: uppercase;
  margin: 0;
  font-size: 5vw;
}
@media screen and (min-width: 720px) {
  .main-restaurant .rest-menu .food-type__title {
    font-size: 24px;
  }
}
.main-restaurant .rest-menu .food-type hr {
  width: 15%;
  height: 1vw;
  background-color: #99E2D0;
  border: none;
  margin-right: 90%;
  margin-bottom: 5vw;
}
@media screen and (min-width: 720px) {
  .main-restaurant .rest-menu .food-type hr {
    height: 2px;
    margin-bottom: 20px;
    margin-right: 95%;
  }
}
.main-restaurant .rest-menu button {
  margin: 6vw auto;
}
@media screen and (min-width: 720px) {
  .main-restaurant .rest-menu button {
    margin: 20px auto;
  }
}
@media screen and (min-width: 720px) {
  .main-restaurant {
    max-width: 1280px;
    margin: auto;
  }
}

/*# sourceMappingURL=style.css.map */
