@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");
body {
  font-family: "Roboto", sans-serif;
  margin: auto;
  text-align: left;
  font-size: 3.9vw;
}
body main h2 {
  font-size: 6vw;
  font-weight: bold;
  padding-top: 20px;
}
body main h3 {
  font-weight: bold;
  font-size: 5vw;
}
body main p {
  margin: 0 15%;
}

@keyframes loadingspinner {
  from {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  to {
    opacity: 0;
    z-index: -2;
  }
}
@keyframes ringspin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loadingspinner {
  z-index: 99;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: white;
  animation: loadingspinner 1500ms linear both;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loadingspinner:after {
  content: "";
  width: 30vw;
  height: 30vw;
  border-radius: 50%;
  border: 10vw solid #9356DC;
  border-color: #9356DC transparent #9356DC transparent;
  animation: ringspin 1500ms linear both;
}

@keyframes heartchecked {
  from {
    opacity: 0;
    font-size: 7vw;
  }
  50% {
    font-size: 10vw;
  }
  to {
    opacity: 1;
    font-size: 7vw;
  }
}
.heart input {
  display: none;
}
.heart input + label i {
  cursor: pointer;
  font-size: 7vw;
  transform: scale(1);
}
.heart input:not(:checked) + label i:first-child {
  display: inline;
}
.heart input:not(:checked) + label i:last-child {
  display: none;
}
.heart input:checked + label i:first-child {
  display: none;
}
.heart input:checked + label i:last-child {
  display: inline;
  animation: heartchecked 200ms linear both;
}
.heart label i:last-child {
  color: #9356DC;
}

button {
  position: relative;
  background-image: linear-gradient(to top, #9356DC, 50%, #FF79DA);
  padding: 1vw 5vw;
  height: 12vw;
  cursor: pointer;
  color: #F6F6F6;
  font-weight: bold;
  font-size: 4vw;
  border: none;
  box-shadow: 0vw 1vw 1vw grey;
  border-radius: 25vw;
  transition: box-shadow 500ms;
  z-index: 1;
}
button:hover {
  box-shadow: 0vw 2vw 2vw grey;
}
button:hover::after {
  opacity: 0.1;
}
button::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  opacity: 0;
  z-index: -1;
  transition: opacity 500ms;
  border-radius: 25vw;
}

@keyframes loadingfood {
  0% {
    transform: translateX(125vw);
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    transform: translateX(0vw);
    opacity: 1;
  }
}
.food-panel {
  animation: loadingfood 600ms both;
}
.food-panel:nth-child(1n) {
  animation-delay: 100ms;
}
.food-panel:nth-child(2n) {
  animation-delay: 200ms;
}
.food-panel:nth-child(3n) {
  animation-delay: 300ms;
}
.food-panel:nth-child(4n) {
  animation-delay: 400ms;
}
.food-panel:nth-child(5n) {
  animation-delay: 500ms;
}
.food-panel:nth-child(6n) {
  animation-delay: 600ms;
}
.food-panel:nth-child(7n) {
  animation-delay: 700ms;
}
.food-panel:nth-child(8n) {
  animation-delay: 800ms;
}
.food-panel:nth-child(9n) {
  animation-delay: 900ms;
}
.food-panel__checkbox {
  display: none;
}
.food-panel__checkbox:checked + label .food-panel__label__box__content__left {
  width: 57vw;
}
.food-panel__checkbox:checked + label .food-panel__label__box__content__right__checked i {
  transform: rotate(0deg);
}
.food-panel__label__box {
  width: 100%;
  border-radius: 4vw;
  box-shadow: 1vw 1vw 1.5vw #EAEAEA;
  overflow: hidden;
  margin-bottom: 5vw;
}
.food-panel__label__box__content {
  width: 125vw;
  cursor: pointer;
  display: flex;
  flex-wrap: nowrap;
  background-color: white;
  overflow: hidden;
}
.food-panel__label__box__content__left {
  width: 72vw;
  padding: 3vw 1vw 3vw 5vw;
  display: flex;
  flex-direction: column;
  transition: width 255ms ease-in-out;
}
.food-panel__label__box__content__left__title {
  font-size: 4.6vw;
  font-weight: bold;
  padding-right: 1vw;
  padding-bottom: 1.5vw;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.food-panel__label__box__content__left__desc {
  font-size: 3.6vw;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.food-panel__label__box__content__right {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.food-panel__label__box__content__right__price {
  width: 7vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-size: 4.5vw;
  font-weight: bold;
  padding: 3vw 5vw 3vw 1vw;
}
.food-panel__label__box__content__right__checked {
  width: 14vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  text-align: center;
  position: relative;
}
.food-panel__label__box__content__right__checked i {
  font-size: 8vw;
  color: white;
  transform: rotate(180deg);
  transition: transform 300ms ease-in-out;
}

.step {
  position: relative;
  margin: 4vw 5%;
  padding: 7vw 0;
  background-color: #F6F6F6;
  border-radius: 6vw;
  box-shadow: 1vw 1vw 1.5vw #EAEAEA;
  text-align: left;
  font-weight: bold;
}
.step::before {
  counter-increment: step-nbr;
  content: counter(step-nbr);
  position: absolute;
  left: -3%;
  top: 33%;
  background-color: #9356DC;
  color: white;
  line-height: 7vw;
  width: 7vw;
  text-align: center;
  border-radius: 50%;
}
.step i {
  padding-left: 8vw;
}
.step span {
  padding-left: 4vw;
}
.step:last-child {
  background-color: #f2eafb;
}
.step:last-child i {
  color: #9356DC;
}

.thumbnail {
  position: relative;
  width: 90%;
  margin: auto;
  overflow: hidden;
  border-radius: 6vw;
  box-shadow: 0vw 1vw 2vw #c9c9c9;
  margin-bottom: 4vw;
}
.thumbnail__img img {
  width: 100%;
  height: 40vw;
  object-fit: cover;
}
.thumbnail__heading {
  height: 12vw;
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 3vw 4vw 3vw 5vw;
  position: relative;
}
.thumbnail__heading__title {
  font-weight: bold;
  margin: 0;
  padding-bottom: 2vw;
}
.thumbnail__heading .heart {
  position: absolute;
  right: 5%;
  top: 30%;
}
.thumbnail--new::before {
  content: "Nouveau";
  position: absolute;
  right: 5%;
  top: 5%;
  color: #1b6150;
  background-color: #99E2D0;
  padding: 1vw 3vw;
  border-radius: 1vw;
}

.header {
  width: 100%;
  padding: 3vw 0;
  box-shadow: 2px 2px 4px grey;
  position: fixed;
  background-color: white;
  height: 10vw;
  z-index: 3;
}
.header__return {
  display: none;
}
.header img {
  display: block;
  margin: auto;
  width: 50%;
}
.header--back__return {
  font-size: 5vw;
  color: black;
  position: fixed;
  top: 5vw;
  left: 7vw;
}
.header__blank {
  height: 16vw;
}

footer {
  background-color: #292929;
  color: white;
  padding: 5vw 6vw;
  display: flex;
  flex-direction: column;
}
footer h1 {
  margin: 0;
  padding: 0 0 4vw 0;
  font-family: Shrikhand, sans-serif;
  font-size: 5vw;
  font-weight: 100;
}
footer a {
  text-decoration: none;
  color: white;
  padding-bottom: 2vw;
}
footer a i {
  padding-right: 2vw;
}

.location {
  padding: 15px 0;
  font-size: 4vw;
  background-color: #EAEAEA;
  text-align: center;
}
.location__city {
  font-weight: bold;
}
.location__city i {
  font-size: 4vw;
  margin-right: 15px;
}

.main .explore .book {
  background-color: #F6F6F6;
  padding: 8vw 0 14vw 0;
  text-align: center;
}
.main .explore .book h2 {
  margin: 0 20%;
  padding-bottom: 3vw;
}
.main .explore .book p {
  padding-bottom: 4vw;
}
.main .explore .tutorial {
  background-color: white;
  padding: 8vw 0 14vw 0;
  counter-reset: step-nbr;
}
.main .explore .tutorial h2 {
  text-align: left;
  margin-left: 7vw;
}
.main #restaurants-list {
  padding: 8vw 0;
  background-color: #F6F6F6;
}
.main #restaurants-list h2 {
  text-align: left;
  margin-left: 7vw;
}
.main #restaurants-list a {
  text-decoration: none;
  color: black;
}

.heading-img {
  width: 100%;
}
.heading-img img {
  width: 100%;
}

.main-restaurant .main-img {
  position: relative;
  top: 15vw;
}
.main-restaurant .main-img .heading-img {
  width: 100%;
}
.main-restaurant .main-img .heading-img img {
  width: 100%;
}
.main-restaurant .rest-menu {
  position: relative;
  padding: 5vw 5vw;
  background-color: #F6F6F6;
  border-radius: 12vw 12vw 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-restaurant .rest-menu__title {
  font-family: Shrikhand, sans-serif;
  font-weight: 400;
  margin: 0;
  padding-top: 5vw;
  font-size: 7.5vw;
  align-self: flex-start;
}
.main-restaurant .rest-menu .heart {
  position: absolute;
  top: 12vw;
  right: 8vw;
}
.main-restaurant .rest-menu .food-type {
  overflow: hidden;
  width: 100%;
}
.main-restaurant .rest-menu .food-type__title {
  font-weight: 200;
  text-transform: uppercase;
  margin: 0;
  font-size: 5vw;
}
.main-restaurant .rest-menu .food-type hr {
  width: 15%;
  height: 1vw;
  background-color: #99E2D0;
  border: none;
  margin-right: 90%;
  margin-bottom: 5vw;
}
.main-restaurant .rest-menu button {
  margin: 6vw auto;
}

/*# sourceMappingURL=style.css.map */
