.thumbnail {
    position: relative;
    width: 90%;
    margin: auto;
    overflow: hidden;
    border-radius: 6vw;
    box-shadow: 0vw 1vw 2vw rgb(201, 201, 201);
    margin-bottom: 4vw;
    &__img {
        img {
            width: 100%;
            height: 40vw;
            object-fit: cover;
        }
    }
    &__heading {
        height: 12vw;
        display: flex;
        flex-direction: column;
        text-align: left;
        padding: 3vw 4vw 3vw 5vw;
        position: relative;
        &__title {
            font-weight: bold;
            margin: 0;
            padding-bottom: 2vw;
        }
        .heart {
            position: absolute;
            right: 5%;
            top: 30%;
        }
    }
    &--new {
        &::before {
            content: "Nouveau";
            position: absolute;
            right: 5%;
            top: 5%;
            color: darken($color-tertiary, 50%);
            background-color: $color-tertiary;
            padding: 1vw 3vw;
            border-radius: 1vw;
        }
    }
}