.location {
    padding: 20px 0;
    background-image: linear-gradient(to top, $color-grey--dark, 99%, black);
    font-size: 4vw;
    &__city {
        font-weight: bold;
        i {
            font-size: 4vw;
            margin-right: 15px;
        }
    }
}

.explore {
    .book {
        background-color: $color-grey--light;
        padding: 15px 0 45px 0;
        p {
            padding-bottom: 25px;
        }
    }
    .tutorial {
        background-color: white;
        padding: 15px 0 45px 0;
        counter-reset: step-nbr;
        h2 {
            text-align: left;
            margin-left: 30px;
        }
    }
}