.header {
    width: 100%;
    padding: 3vw 0;
    box-shadow: 2px 2px 4px grey;
    position: fixed;
    background-color: white;
    height: 10vw;
    z-index: 3;
    &__return {
        display: none;
    }
    img {
        display: block;
        margin: auto;
        width: 50%;
        @include desktop-only {
            width : 300px;
            margin-left: 100px;
        }
    }
    &--back {
        &__return {
            font-size: 5vw;
            color: black;
            position: fixed;
            top: 5vw;
            left: 7vw;
            @include desktop-only {
                font-size: 30px;
                position: absolute;
                top: 20px;
                left: 20px;
            }
        }
    }
    &__blank {
        height: 16vw;
        @include desktop-only {
            display: none;
        }
    }
    @include desktop-only {
        position: relative;
        height: 55px;
        padding: 10px 0;
    }
}